
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
}


.header {
 
    background: #e8e8e8; 
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid #000000; 
    width: fit-content;
    color: #000000;
    font-family: 'Arial', sans-serif;
    margin-bottom: 5px; 
}

a {
    color: #004b9b;
    text-decoration: underline; 
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    display: block; 
}


h3 {
  
    color: #000000;
    font-family: 'Arial', sans-serif;
    margin-top: 40px;
    margin-bottom: 10px;
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px;
}


table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
    font-size: 13px;
    margin-left: 0; 
    margin-right: 10px;
}

table,
th,
td {
    border: 2px solid #6a6a6a;
    padding: 10px;
}

th {
    background: #ffe4b5;
    padding: 10px;
    border: 2px solid #6a6a6a;
    font-weight: bold;
}

.network-section {
    background: #d9ecf4;
    padding: 20px;
    border: 2px solid #b14545;
    margin-top: 20px;
}

.network-section img {
    width: 280px;
    display: block;
    margin-bottom: 20px;
    border-radius: 15px;
    opacity: 0.9;
}


.network-section ul {
    color: #333333;
    font-family: 'Arial', sans-serif;
}


.slideshow-container {
    max-width: 600px; 
    position: relative;
    margin: auto;
    margin-top: 30px;
    background: #3d556e; 
    border-radius: 10px;
}

.mySlides {
    display: none; 
    padding: 20px;
    text-align: center;
}

.mySlides img {
    width: 100%;
    border-radius: 8px;
    opacity: 0.85;
}

.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 90%;
    text-align: center;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


.resource-images {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: